aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
bcrypt
beautifulsoup4
Brotli
bs4
captcha
certifi
cffi
charset-normalizer
colorama
cryptography
discord.py
epicstore_api
frozenlist
idna
inflate64
jsonschema
jsonschema-specifications
multidict
multivolumefile
paramiko
pillow
propcache
psutil
py7zr
pybcj
pycparser
pycryptodomex
PyNaCl
pyppmd
pyrsistent
python-a2s
python-dotenv
pytimeparse
pytz
pyzstd
referencing
requests
rpds-py
sentry-sdk
soupsieve
texttable
typing_extensions
urllib3
yarl
zipp