aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
Brotli
bs4
captcha
certifi
charset-normalizer
colorama
discord.py
epicstore_api
frozenlist
idna
inflate64
jsonschema
jsonschema-specifications
multidict
multivolumefile
pillow
propcache
psutil
py7zr
pybcj
pycryptodomex
pyppmd
pyrsistent
python-a2s
python-dotenv
pytimeparse
pytz
pyzstd
referencing
requests
rpds-py
sentry-sdk
soupsieve
texttable
urllib3
yarl
zipp
